<ul class="gallery">
  <li class="gallery__figure gallery__figure--educacao">
    <a href="/dataset?tags=Educa%C3%A7%C3%A3o" class="gallery__figure__image">
      {% trans %}Education{% endtrans %}
    </a>
  </li>

  <li class="gallery__figure gallery__figure--meio_ambiente">
    <a href="/dataset?tags=Meio%20ambiente" class="gallery__figure__image">
      {% trans %}Environment{% endtrans %}
    </a>
  </li>

  <li class="gallery__figure gallery__figure--mobilidade">
    <a href="/dataset?tags=Mobilidade" class="gallery__figure__image">
      {% trans %}Mobility{% endtrans %}
    </a>
  </li>

  <li class="gallery__figure gallery__figure--saude">
    <a href="/dataset?tags=Sa%C3%BAde" class="gallery__figure__image">
      {% trans %}Health{% endtrans %}
    </a>
  </li>

  <li class="gallery__figure gallery__figure--seguranca">
    <a href="/dataset?tags=Seguran%C3%A7a" class="gallery__figure__image">
      {% trans %}Security{% endtrans %}
    </a>
  </li>
</ul>
